

/* Score dentro de fase */
.score-fase {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-top: 8px;
  padding-top: 12px;
  border-top: 1px solid var(--color-borde);
}

.label-score {
  font-size: 12px;
  color: var(--color-texto-gris);
  font-weight: 500;
}

.valor-score {
  font-size: 18px;
  font-weight: 700;
  padding: 2px 10px;
  border-radius: 8px;
}

.max-score {
  font-size: 14px;
  color: var(--color-texto-gris);
}


/* Clases dinámicas de score */
.bg-green-500 {
  background-color: #22C55E;
  color: white;
  padding: 4px 12px;
  border-radius: 6px;
}

.bg-blue-500 {
  background-color: #3B82F6;
  color: white;
  padding: 4px 12px;
  border-radius: 6px;
}

.bg-yellow-500 {
  background-color: #ffc20c;
  color: white;
  padding: 4px 12px;
  border-radius: 6px;
}

.bg-red-500 {
  background-color: #EF4444;
  color: white;
  padding: 4px 12px;
  border-radius: 6px;
}

.bg-gray-300 {
  background-color: #D1D5DB;
  padding: 4px 12px;
  border-radius: 6px;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}