<div class="flex flex-col gap-8">

  <!-- Encabezado -->
  <app-ui-header
    titulo="Mi perfil"
    [visualizarButton]="false"
    [visualizarDescripcion]="false"
  ></app-ui-header>

  <!-- Contenido -->
  <div class="flex flex-col gap-8 bg-white rounded-2xl px-5 py-8">

    <!-- Encabezado contenido -->
    <div class="flex flex-row gap-4">

      <!-- Avatar -->
      <app-ui-avatar class="h-full w-20"></app-ui-avatar>

      <!-- Nombre + Correo -->
      <div class="flex flex-col gap-2">
        <app-ui-tipografia
          variante="h3"
          [texto]="fullName"
        ></app-ui-tipografia>

        <app-ui-tipografia
          variante="h6"
          [texto]="email"
          color=""
        ></app-ui-tipografia>
      </div>

      <!-- Rol -->
      <div class="bg-blue-800 flex items-center px-3 rounded-md">
        <app-ui-tipografia
          variante="caption"
          color="text-white"
          [texto]="rol"
        ></app-ui-tipografia>
      </div>
    </div>

    <app-ui-divider></app-ui-divider>

    <!-- Información Personal -->
    <div class="flex flex-col gap-4">

      <div class="flex flex-col gap-3">
        <app-ui-tipografia variante="h4" texto="Información personal"></app-ui-tipografia>
        <app-ui-tipografia variante="caption" texto="(Edita únicamente los campos habilitados en color blanco.)"></app-ui-tipografia>
      </div>

      <!-- Inputs personales -->
      <div class="flex flex-col gap-4">

        <!-- Nombre + Apellido -->
        <div class="flex flex-col gap-4 md:flex-row">
          <app-ui-input-field
            label="Nombre"
            variant="info"
            nombreIcono="user"
            placeholder="Nombre"
            [value]="nombre"
            class="w-full">
          </app-ui-input-field>

          <app-ui-input-field
            label="Apellido"
            variant="info"
            nombreIcono="user"
            placeholder="Apellido"
            [value]="apellido"
            class="w-full">
          </app-ui-input-field>
        </div>

        <!-- Email + Celular -->
        <div class="flex flex-col gap-4 md:flex-row">
          <app-ui-input-field
            label="Correo electrónico"
            variant="info"
            nombreIcono="envelope"
            placeholder="Correo"
            [value]="email"
            class="w-full">
          </app-ui-input-field>

          <app-ui-input-field
            label="Celular"
            variant="tel"
            nombreIcono="phone"
            placeholder="Teléfono"
            [value]="telefono"
            class="w-full"
            [editable]="true">
          </app-ui-input-field>
        </div>

      </div>

      <app-ui-divider></app-ui-divider>

      <!-- Información adicional -->
      <div class="flex flex-col gap-4">
        <app-ui-tipografia variante="h4" texto="Información adicional"></app-ui-tipografia>

        <div class="flex flex-col gap-4 md:flex-row">

          <app-ui-input-field
            label="Tipo de manejo"
            variant="info"
            nombreIcono="truck"
            placeholder="Tipo de manejo"
            class="w-full">
          </app-ui-input-field>

          <app-ui-input-field
            label="Tipo de rol"
            variant="info"
            nombreIcono="identification"
            placeholder="Rol"
            class="w-full"
            [value]="rol">
          </app-ui-input-field>

        </div>
      </div>

      <app-ui-divider></app-ui-divider>

      <!-- Cambiar contraseña -->
      <div class="flex flex-col gap-4">

        <app-ui-tipografia variante="h4" texto="Cambiar contraseña"></app-ui-tipografia>

        <div class="flex flex-col gap-4">

          <!-- Contraseña actual -->
          <app-ui-input-field
            label="Contraseña actual"
            variant="password"
            nombreIcono="lock-closed"
            class="w-full md:w-[49%]"
            [(ngModel)]="currentPassword">
          </app-ui-input-field>

          <!-- Nueva + Confirmación -->
          <div class="flex flex-col gap-4 md:flex-row">

            <app-ui-input-field
              label="Nueva contraseña"
              variant="password"
              nombreIcono="lock-closed"
              class="w-full"
              [(ngModel)]="newPassword">
            </app-ui-input-field>

            <app-ui-input-field
              label="Confirmar contraseña"
              variant="password"
              nombreIcono="lock-closed"
              class="w-full"
              [(ngModel)]="confirmPassword">
            </app-ui-input-field>

          </div>

          <app-ui-boton  
            texto="Aceptar"
            class="w-[25%]"
            (click)="updatePassword()"
          ></app-ui-boton>

        </div>
      </div>

    </div>
  </div>

</div>